<%- include('partials/header') %>

<main class="form-signin">
  <form action="/login" method="POST">
    <h1 class="h3 mb-3 fw-normal">Log In</h1>

    <div class="form-floating">
      <input
        type="number email"
        name="username"
        class="form-control bottom"
        placeholder="Phone or Email"
        required
        autofocus
      />
      <label for="Email Address">Phone or Email Address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        name="password"
        class="form-control top"
        placeholder="password"
        required
        autofocus
      />
      <label for="password">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-secondary" type="submit">Log In</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>

<%- include('partials/footer') %>
