<%- include('partials/header') %>

<main class="form-signin">
  <form action="/signup" method="POST">
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

    <div class="form-floating">
      <input
        type="text"
        name="name"
        class="form-control top"
        placeholder="Name"
        required
        autofocus
      />
      <label for="Name">Your Name</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        name="username"
        class="form-control bottom"
        placeholder="Phone or Email"
        required
        autofocus
        pattern="^([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3})|(\d{3}-\d{3}-\d{4})$"
      />
      <label for="Email Address">Phone or Email Address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        name="password"
        class="form-control top"
        placeholder="password"
        required
        autofocus
      />
      <label for="password">Password</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        name="bio"
        class="form-control top"
        placeholder="About you"
        required
        autofocus
      />
      <label for="Name">About You</label>
    <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>

<%- include('partials/footer') %>
